services:

  # caddy service
  proxy-client-caddy:
    image: caddy:${PROXY_CLIENT_CADDY_VERSION}
    entrypoint: ["/usr/local/bin/entrypoint.sh"]
    container_name: proxy-client-caddy
    restart: unless-stopped
    depends_on:
      - proxy-client-letsencrypt
    environment:
      AUTHENTIK_APP_HOSTNAME: ${PROXY_CLIENT_CADDY_AUTHENTIK_APP_HOSTNAME}
      AUTHENTIK_APP_CONTAINER: ${PROXY_CLIENT_CADDY_AUTHENTIK_APP_CONTAINER}
      FIREFLY_APP_HOSTNAME: ${PROXY_CLIENT_CADDY_FIREFLY_APP_HOSTNAME}
      FIREFLY_APP_CONTAINER: ${PROXY_CLIENT_CADDY_FIREFLY_APP_CONTAINER}
      YOUTRACK_APP_HOSTNAME: ${PROXY_CLIENT_CADDY_YOUTRACK_APP_HOSTNAME}
      YOUTRACK_APP_CONTAINER: ${PROXY_CLIENT_CADDY_YOUTRACK_APP_CONTAINER}
      GITLAB_APP_HOSTNAME: ${PROXY_CLIENT_CADDY_GITLAB_APP_HOSTNAME}
      GITLAB_APP_CONTAINER: ${PROXY_CLIENT_CADDY_GITLAB_APP_CONTAINER}
      REGISTRY_APP_HOSTNAME: ${PROXY_CLIENT_CADDY_REGISTRY_APP_HOSTNAME}
      REGISTRY_APP_CONTAINER: ${PROXY_CLIENT_CADDY_REGISTRY_APP_CONTAINER}
    volumes:
      - ./usr/local/bin/entrypoint.sh:/usr/local/bin/entrypoint.sh:ro
      - ./vol/proxy-client-caddy/data:/data
      - ./vol/proxy-client-caddy/config:/config
    networks:
      proxy-client-private:
      proxy-client-authentik:
      proxy-client-firefly:
      proxy-client-youtrack:
      proxy-client-gitlab:

  # frpc for connect to frps
  proxy-client-caddy-frpc:
    image: ghcr.io/ldev1281/docker-frp:latest
    container_name: proxy-client-caddy-frpc
    restart: unless-stopped
    depends_on:
      - proxy-client-frps-host
      - proxy-client-caddy
    environment:
      - FRP_HOST=proxy-client-frps-host
      - FRP_PORT=${PROXY_FRP_PORT}
      - FRP_TOKEN=${PROXY_FRP_TOKEN}
    networks:
      proxy-client-private:

  # proxy to frp server
  proxy-client-frps-host:
    image: ghcr.io/ldev1281/docker-socat-socks5:latest
    container_name: proxy-client-frps-host
    restart: unless-stopped
    environment:
      LISTEN_PORT: ${PROXY_FRP_PORT}
      TARGET_HOST: ${PROXY_HOST}
      TARGET_PORT: ${PROXY_FRP_PORT}
    networks:
      proxy-client-universe:
      proxy-client-private:

  # letsencrypt proxy from caddy
  proxy-client-letsencrypt:
    image: ghcr.io/ldev1281/docker-socat-socks5:latest
    container_name: proxy-client-letsencrypt
    restart: unless-stopped
    environment:
      LISTEN_PORT: ${PROXY_CLIENT_LETSENCRYPT_PORT}
      TARGET_HOST: ${PROXY_CLIENT_LETSENCRYPT_HOST}
      TARGET_PORT: ${PROXY_CLIENT_LETSENCRYPT_PORT}
      SOCKS5_HOST: ${PROXY_HOST:-}
      SOCKS5_PORT: ${PROXY_SOCKS5H_PORT:-}
    networks:
      proxy-client-universe:
      proxy-client-private:
        aliases:
          - ${PROXY_CLIENT_LETSENCRYPT_HOST}

  # smtp proxy
  proxy-client-smtp:
    image: ghcr.io/ldev1281/docker-socat-socks5:latest
    container_name: proxy-client-smtp
    restart: unless-stopped
    environment:
      LISTEN_PORT: ${PROXY_CLIENT_SMTP_PORT}
      TARGET_HOST: ${PROXY_CLIENT_SMTP_HOST}
      TARGET_PORT: ${PROXY_CLIENT_SMTP_PORT}
      SOCKS5_HOST: ${PROXY_HOST:-}
      SOCKS5_PORT: ${PROXY_SOCKS5H_PORT:-}
    networks:
      proxy-client-universe:
      proxy-client-authentik:
        aliases:
          - ${PROXY_CLIENT_SMTP_HOST}
      proxy-client-firefly:
        aliases:
          - ${PROXY_CLIENT_SMTP_HOST}
      proxy-client-youtrack:
        aliases:
          - ${PROXY_CLIENT_SMTP_HOST}
      proxy-client-gitlab:
        aliases:
          - ${PROXY_CLIENT_SMTP_HOST}

  # authentik proxy
  proxy-client-authentik:
    image: ghcr.io/ldev1281/docker-socat-socks5:latest
    container_name: proxy-client-authentik
    restart: unless-stopped
    environment:
      LISTEN_PORT: 443
      TARGET_HOST: ${PROXY_CLIENT_CADDY_AUTHENTIK_APP_HOSTNAME}
      TARGET_PORT: 443
      SOCKS5_HOST: ${PROXY_HOST:-}
      SOCKS5_PORT: ${PROXY_SOCKS5H_PORT:-}
    networks:
      proxy-client-universe:
      proxy-client-firefly:
        aliases:
          - ${PROXY_CLIENT_CADDY_AUTHENTIK_APP_HOSTNAME}
      proxy-client-youtrack:
        aliases:
          - ${PROXY_CLIENT_CADDY_AUTHENTIK_APP_HOSTNAME}
      proxy-client-gitlab:
        aliases:
          - ${PROXY_CLIENT_CADDY_AUTHENTIK_APP_HOSTNAME}

  proxy-client-github:
    image: ghcr.io/ldev1281/docker-socat-socks5:latest
    container_name: proxy-client-github
    restart: unless-stopped
    environment:
      LISTEN_PORT: ${PROXY_CLIENT_GITHUB_PORT}
      TARGET_HOST: ${PROXY_CLIENT_GITHUB_HOST}
      TARGET_PORT: ${PROXY_CLIENT_GITHUB_PORT}
      SOCKS5_HOST: ${PROXY_HOST:-}
      SOCKS5_PORT: ${PROXY_SOCKS5H_PORT:-}
    networks:
      proxy-client-universe:
      proxy-client-youtrack:
        aliases:
          - github.com
          - api.github.com

networks:

  proxy-client-universe:
    name: proxy-client-universe
    driver: bridge

  proxy-client-private:
    name: proxy-client-private
    driver: bridge
    internal: true

  proxy-client-authentik:
    name: proxy-client-authentik
    external: true

  proxy-client-firefly:
    name: proxy-client-firefly
    external: true

  proxy-client-youtrack:
    name: proxy-client-youtrack
    external: true

  proxy-client-gitlab:
    name: proxy-client-gitlab
    external: true
